@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-hero-lg {
    clip-path: circle(65% at 50% 130%);
  }

  .clip-path-hero-sm {
    clip-path: circle(50% at 50% 110%);
  }

  .clip-path-hero {
    clip-path: circle(25% at 50% 57%);
  }
}
